<body>
      <header>

        <nav class="navbar navbar-expand-md navcolor navbar-light">
<a style="font-family: 'Abril Fatface', cursive;" class="navbar-brand"><strong>Book Chat</strong></a>

        </nav>

    </header>
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2 class="card-title text-center style=" style="font-family: 'Abril Fatface', cursive;">Sign In</h2>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="username_input" class="form-control" placeholder="Username" required autofocus>
                <label for="username_input">Username</label>
              </div>

              <div class="form-label-group errorInput">
                <input type="password" id="password_input" class="form-control" placeholder="Password" required>
                <label for="password_input">Password</label>
              </div>

              <br>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <button id="signupBtn" class="btn btn-lg btn-secondary btn-block text-uppercase">Create new
                account</button>
              <br>
              <img src="/assets/undraw_reading_time_gvg0.svg" width="50%" alt="illustration">
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>

</body>