body {
  background-color: #d9ebf3;
  /* background: linear-gradient(to right, #bedce9, #d9ebf3); */
}

/* .stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
  padding-left: 16px;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 16px;
  content: '★★★★★';
  color: #3C587C;

  overflow: hidden;

}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; } */

.right {
  position: absolute;
  right: 0px;
  padding-right: 20px;
}
.scrollmenu {
  overflow: auto;
  
}

main{

  background-color: rgb(255, 255, 255);
  position: relative;
}

.position{
  height: 100vh;
  position: fixed;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navcolor{
  background-color: #d9ebf3;
  /* background: linear-gradient(to right, #bedce9, #d9ebf3); */
}
h1{
  font-size: 5vw;
}

.form-control {
  /* border: 0; */
  border-radius: 1rem;
  /* box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); */
}
.grow { 
    transition: all .1s ease-in-out; 
  }
.grow:hover { 
  transform: scale(1.05); 
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.card-title {
  font-size: 1rem;
}
.testtt{
height: 99vh;
}










#exTab1 .tab-content {
color : white;
background-color: #428bca;
padding : 5px 15px;
}

#exTab2 h3 {
color : white;
background-color: #428bca;
padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
border-radius: 0;

}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
color : white;
background-color: #428bca;
padding : 5px 15px;
}




#progressBar{
background:#fcfcfc;
width: 100%;
height: 15px;
max-width: 96%;
border:1px solid #3C587C;
border-radius:15px;
display: flex;
justify-content: left;
margin: auto;
margin-top: 15px;
margin-bottom: 15px;
box-sizing: border-box;
}

#progress{
background: #3C587C;
height : 16px;
width: 0%;
border-bottom-left-radius: 15px;
border-top-left-radius: 15px;
}




.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
color: #ffffff !important;
background-color: #3C587C !important;
border-color: none !important;

}
.nav-link {
color: #383838 !important;
/* font-size: 1vw; */
display: block;
padding: .5rem 1rem;
}

.nav-tabs .nav-link {
border: none;
background-color: #d9ebf3;
border-radius: 1rem !important;
margin: 5px;
min-width: 300px;
}

.nav-tabs {
border-bottom: none !important;
border-radius: 1rem !important;
}
/* .nav-tabs {
border-bottom: 1px solid #dee2e6;
} */
.tab-content{
border: none !important;

}
.b-col{
background-color: #d9ebf3;
}
.jumbotron{
margin-bottom: 0;
background-color: #ffffff;
padding-top: 0;
padding-bottom: 10px;
}

.btn-primary{
  font-family: gotham-medium;
border: none;
background-color: #3C587C;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
  font-family: gotham-medium;
color: #fff;
background-color: #273C58;
}
.btn-secondary{
  font-family: gotham-medium;
color: rgb(56, 56, 56);
background-color: #d9ebf3;
border: none;

}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active{
  font-family: gotham-medium;
color: rgb(56, 56, 56);
background-color: #c0d9e4;

}










span.stars, span.stars span {
display: inline-block;
background: url("star_rate-24px.svg");
/* background-size: 50%; */
background-size: 18px 18px;
/* width: 200px; */
height: 20px;
min-width: 90px;


}

span.stars span {
background-position: 0 0;
/* margin-right: 10px; */
/* margin-left: 16px; */
}
h5{
font-family: gotham-medium;
min-height: 38px;
display: inline-block;
/* width: 180px; */
/* white-space: nowrap; */
overflow: hidden !important;
text-overflow: ellipsis;
}






.container{max-width:1170px; margin:auto;}
.top_spac{ margin: 20px 0 0;}




.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_ib {
float: left;
padding: 0 0 0 15px;
width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
border-bottom: 1px solid #c4c4c4;
margin: 0;
padding: 18px 16px 10px;
}
.inbox_chat {  height: 70vh;; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.received_msg {
display: inline-block;
padding: 0 0 0 10px;
vertical-align: top;
width: 70%;
}
.received_withd_msg p {
/* background: #ebebeb none repeat scroll 0 0; */
background: none repeat scroll 0 0;

/* border-radius: 3px; */
/* color: #646464; */
font-size: 14px;
margin: 0;
padding: 5px 10px 5px 12px;
width: 100%;
}
.time_date_recieve {
color: #747474;
display: block;
font-size: 12px;
margin: 8px 0 0;
}
.time_date_send {
color: #ffffff;
display: block;
font-size: 12px;
margin: 8px 0 0;
}
.received_withd_msg { width: 70%;}
.mesgs {
float: left;
padding: 30px 15px 0 25px;
width: 60%;
}

.sent_msg p {
background: #05728f none repeat scroll 0 0;
border-radius: 3px;
font-size: 14px;
margin: 0; color:#fff;
padding: 5px 10px 5px 12px;
width:100%;
}
.outgoing_msg{ 
overflow:hidden; 
margin:26px 0 26px;
float: right;
width: 70%;
background-color: #273C58;
color: #ffffff;
}

.input_msg_write input {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: medium none;
color: #4c4c4c;
font-size: 15px;
min-height: 48px;
width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  font-family: gotham-medium;
background: none repeat scroll 0 0;
border: none;

color: #3C587C;
cursor: pointer;
font-size: 20px;
height: 33px;
position: absolute;
right: 0;
margin-top: 38px;
margin-right: 20px;
top: 11px;
width: 33px;
}
.msg_history {
  height: 65vh;
overflow-y: auto;
}

.chatInput{
margin-top: 12px;
height: 100px;
margin-bottom: 30px;
}



/* login css=============================== */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

/* body {
  background-color: #d9ebf3;
  background: linear-gradient(to right, #bedce9, #d9ebf3);
} */

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  font-size: 2rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {

  font-size: 80%;
  border-radius: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}


.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.btn-primary{
  font-family: gotham-medium;
  background-color: #3C587C;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
  font-family: gotham-medium;
  color: #fff;
  background-color: #273C58;
}





@media (min-width: 576px) {
  h2{
    font-size: 7vw;
  }
  .test{
    width: 100%;
    height: 35vw;
    object-fit: cover;
  }
}

@media (min-width: 768px) { 
  h2{
    font-size: 7vw;
  }
  .test{
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }
 }

@media (min-width: 992px) { 
  h2{
    font-size: 3vw;
  }
  .test{
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
}

@media (min-width: 1200px) { 
  h2{
    font-size: 3vw;
  }
  .test{
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
}

.round{
border-radius: 1rem;
}

.card-subtitle{
  color: rgb(95, 95, 95);
}

.addBook, .btn-primary.active{
  font-size: 2rem;
  border: none;
  background-color: none;
  background: none;
  width: 25%;
  color: #273C58;
}
.deleteBook, .btn-primary.active{
  font-size: 2rem;
  border: none;
  background-color: none;
  background: none;
  width: 25%;
  color: #273C58;
}

#fadeIn div {
  animation: fadeinRefresh 2s;
  -moz-animation: fadeinRefresh 2s; /* Firefox */
  -webkit-animation: fadeinRefresh 2s; /* Safari and Chrome */
  -o-animation: fadeinRefresh 2s; /* Opera */
}
@keyframes fadeinRefresh {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadeinRefresh { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadeinRefresh { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadeinRefresh { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}


.titleHeight{
  margin-top: 5px;
  min-height: 48px;
  max-height: 48px;
  display: inline-block;
  /* width: 180px; */
  /* white-space: nowrap; */
  overflow: hidden !important;
  text-overflow: ellipsis;
}


/* The toastConfirm - position it at the bottom and in the middle of the screen */
#toastConfirm {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color:#3C587C; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 1rem; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the toastConfirm */
  bottom: 30px; /* 30px from the bottom */
}

#toastConfirm.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toastConfirm in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
p, span{
  font-family: gotham-book;
}
